<div class="demo-only" style="height: 4rem;">
  <header class="slds-global-header_container slds-align_absolute-center">
    <div class="slds-global-header slds-grid slds-grid_align-spread">
      TOPi Test
      <div class="slds-global-header__item">
        <div class="slds-global-header">
        </div>
      </div>
      <div class="slds-global-header__item slds-global-header__item_search">
        <div aria-expanded="false" aria-haspopup="listbox" class="slds-form-element slds-lookup" role="combobox">
          <label class="slds-assistive-text" for="global-search-01">Search Salesforce</label>
        </div>
      </div>
    </div>
  </header>
</div>