<article class="slds-card repo-item">
  <div class="slds-card__header slds-grid">
    <header class="slds-media slds-media_center slds-has-flexi-truncate slds-align_absolute-center">
      <div class="slds-media__figure">
        <span class="slds-avatar slds-avatar_large slds-avatar_circle slds-icon-standard-contact">
          <img alt="Person name" src="{{repo.owner.avatarUrl}}" title="{{repo.owner.login}}">
        </span>
      </div>
    </header>
  </div>
  <div class="slds-card__body slds-card__body_inner">
    <div class="slds-col slds-size--1-of-1">
      <h2 class="slds-align_absolute-center">
        <span class="slds-text-heading_small">
          <a href="{{repo.htmlUrl}}" target="_blank">{{repo.fullName}}</a>
        </span>
      </h2>
      <span class="slds-align_absolute-center">{{repo.description}}</span>
    </div>
    <div class="slds-grid slds-wrap">
    </div>
  </div>
  <footer class="slds-card__footer slds-align_absolute-center">
    <div class="slds-grid">

      <span class="slds-badge slds-truncate slds-badge_inverse" style="background: #5c0259;">
        <div *ngIf="repo.stargazersCount">
          {{repo.stargazersCount}} stargazer{{repo.stargazersCount > 1 ? 's' : ''}}
        </div>
        <div *ngIf="!repo.stargazersCount">
          No stargazers!
        </div>
      </span>
      <span class="slds-badge slds-truncate slds-badge_inverse" style="background:rgb(6, 24, 124)">{{repo.privateRepo ? 'Private' : 'Public'}}</span>
      <span class="slds-badge slds-truncate slds-badge_inverse" style="background: #c5b208;">
        <div *ngIf="repo.forksCount">
          {{repo.forksCount}} fork{{repo.forksCount > 1 ? 's' : ''}}
        </div>
        <div *ngIf="!repo.forksCount">
          No forks!
        </div>
      </span>
      <span class="slds-badge slds-truncate slds-badge_inverse" style="background: #2e6303;">
        <div *ngIf="repo.watchersCount">
          {{repo.watchersCount}} watcher{{repo.watchersCount > 1 ? 's' : ''}}
        </div>
        <div *ngIf="!repo.watchersCount">
          No watchers!
        </div>
      </span>
      <span class="slds-badge slds-truncate slds-badge_inverse" style="background: #8f2606;">
        <div *ngIf="repo.openIssuesCount">
          {{repo.openIssuesCount}} open issue{{repo.openIssuesCount > 1 ? 's' : ''}}
        </div>
        <div *ngIf="!repo.openIssuesCount">
          No open issues!
        </div>
      </span>
      <!-- <span class="slds-badge" style="background: gold">{{repo.forksCount}} forks</span> -->
      <!-- <span class="slds-badge slds-truncate slds-badge_inverse" style="background: darkgray">{{repo.watchersCount}} watchers</span> -->
      <!-- <span class="slds-badge slds-truncate slds-badge_inverse" style="background: #b55d5b">{{repo.openIssuesCount}} open issues</span> -->
    </div>
  </footer>
</article>
<hr>
