<div class="slds-section__content" id="expando-unique-id">
  <select>
  </select>
</div>
<main class="slds-col slds-size--2-of-3 slds-align_absolute-center" style="padding-top: 68px;">
  
  <div class="slds-box" style="min-height: 70px;">
    <div class="slds-form-element">
      <label class="slds-form-element__label" for="select-01">Select a language</label>
      <div class="slds-form-element__control">
        <div class="slds-select_container">
          <select class="slds-select" id="languages"
          (change)="languageChange($event.target.value)">
            <option *ngFor="let language of languages" value="{{language.id}}">
              {{language.name}}
            </option>
          </select>
        </div>
      </div>
    </div>
    
    <hr>    
    <div class="slds-align_absolute-center">
      <button *ngIf="!loading" class="slds-button slds-button_brand" (click)="search()">GO</button>
      <div class="loader" *ngIf="loading"></div>
    </div>
    <hr>    

    <div id="repos">
      <app-repo-card *ngFor="let repo of repos" [repo]="repo"></app-repo-card>
      <div *ngIf="!repos.length">
        <h4>No repositories to show!</h4>
      </div>
    </div>
  </div>
</main>
